version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./backend:/app
      - go-build-cache:/go/pkg/mod
      - go-build-cache:/root/.cache/go-build
    ports:
      - "8080:8080"
    command: ["air", "main.go"]

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_API_ORIGIN=http://backend:8080
    command: ["npm", "run", "dev"]
    ports:
      - "3000:3000"

volumes:
  go-mod-cache:
  go-build-cache:
